<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>${c.analysis.name}</title>
</head>
<body>

    <div class="row">
        <div class="span5">
            <h1>${c.analysis.name}</h1>

            <div class="row">
                <div class="span6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Result</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Goodness of fit
                                </td>
                                <td>${c.analysis.goodness_of_fit}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span7">
            <img class="img-polaroid" src="data:image/png;base64, ${c.analysis.result_image}" />
        </div>
    </div>
</body>
</html>