<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Analysis List</title>
</head>
<body>
    <h1>My Ecomaps</h1>

    <div class="tabbable">
        <ul class="nav nav-pills" id="analysis-tabs">
            <li><a href="#my-analyses" data-toggle="pill">My Analyses</a></li>
            <li><a href="#public-analyses" data-toggle="pill">Public Analyses</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="my-analyses">


        <p py:if="not c.private_analyses">
            You don't have any analyses yet.
            You can create a new one <a href="${h.url(controller='analysis', action='create')}">here</a><span py:if="c.public_analyses">, or try looking at the public repository</span>

        </p>

        <table py:if="c.private_analyses" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Run On</th>
                    <th>Name of Variable</th>
                    <th>AIC</th>
                    <th>Model Formula</th>
                </tr>
            </thead>
            <tbody>
                <tr py:for="analysis in c.private_analyses"  py:attrs="{'class':'warning'} if analysis.viewable_by!=None else {}">
                    <td>
                        <a href="${h.url(controller='analysis', action='view', id=analysis.id)}">${analysis.name}</a>
                    </td>
                    <td>
                        <py:choose>
                            <py:when test="analysis.run_date">${analysis.run_date.strftime('%d-%b-%Y %H:%M')}</py:when>
                            <py:otherwise>
                                <a href="${url(controller='analysis', action='test', id=str(analysis.id))}">In progress (${analysis.progress_message})</a>
                            </py:otherwise>
                        </py:choose>
                    </td>
                    <td>
                        ${analysis.model_variable}
                    </td>
                    <td>
                        ${analysis.goodness_of_fit}
                    </td>
                </tr>
            </tbody>
        </table>

            </div>
            <div class="tab-pane active" id="public-analyses">

                <p py:if="not c.public_analyses">
            There aren't any public analyses yet, why not <a href="${h.url(controller='analysis', action='create')}">create a new one?</a>

        </p>

        <table py:if="c.public_analyses" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Run On</th>
                    <th>Run By</th>
                    <th>Goodness of fit</th>
                </tr>
            </thead>
            <tbody>
                <tr py:for="analysis in c.public_analyses">
                    <td>
                        <a href="${h.url(controller='analysis', action='view', id=analysis.id)}">${analysis.name}</a>
                    </td>
                    <td>
                        ${analysis.run_date.strftime('%d-%b-%Y %H:%M')}
                    </td>
                    <td>
                        ${analysis.run_by_user.name}
                    </td>
                    <td>
                        ${analysis.goodness_of_fit}
                    </td>
                </tr>
            </tbody>
        </table>

            </div>
        </div>


    </div>
</body>
<script type="text/javascript" language="javascript">

    $(function () {
        $("ul#analysis-tabs a:first").tab("show");
    })

</script>
</html>