<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>${c.analysis.name}</title>
</head>
<body>
    <div>
        <py:if test="added_successfully">
            <py:choose>
                <py:when test="added_successfully">
                    <div class="alert alert-success">
                        <b>Well done!</b> You have successfully published an Ecomap.
                    </div>
                </py:when>
                <py:otherwise>
                    <div class="alert alert-error">
                        <b>Oh snap!</b> Ecomap was not published correctly.
                    </div>
                </py:otherwise>
            </py:choose>
        </py:if>
    </div>

    <div class="row">
        <div class="span5">
            <h1>${c.analysis.name}</h1>
        </div>
        <div class="span7">
            <img class="img-polaroid" src="data:image/png;base64, ${c.analysis.result_image}" />
        </div>
    </div>

    <form method="POST">
        <div>
            <py:if test="c.analysis.viewable_by">
                <input type="hidden" id="id_to_publish" name="id_to_publish" value='${c.analysis.id}' />
                 <input type="submit" class="btn btn-primary btn-large pull-right" name="submit" value="Publish" />
            </py:if>
        </div>
    </form>
</body>
</html>