<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Please wait</title>

    <script type="text/javascript" language="JavaScript" src="/js/analysis_progress.js"></script>
</head>
<body>
    <div class="hero-unit">
        <h1><img src="/layout/images/spinner.gif" /> Please wait</h1>

        <p class="lead">

             Analysis in progress
        </p>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Progress:</h4>
            <ul id="progress">
                <li><i class="icon-tasks"></i>Setting up...</li>
            </ul>
        </div>
    </div>

    <script py:if="c.analysis_id" type="text/javascript" language="JavaScript">
        $(function () {

            ECOMAPS.ANALYSIS.getProgress(${c.analysis_id});

        });
    </script>
</body>
</html>