<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Please wait</title>
</head>
<body>
    <div class="hero-unit">
        <h1><img src="/layout/images/spinner.gif" /> Please wait</h1>

        <p class="lead">

             Analysis in progress
        </p>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Progress messages will appear here</h4>
            <p>
                This page is for testing purposes only. It will redirect after 5 seconds.
            </p>
        </div>
    </div>

    <script py:if="c.analysis_id" type="text/javascript" language="JavaScript">
        $(function () {

            window.setTimeout(function(){
                window.location.href = 'view/${c.analysis_id}'
            }, 5000)

        });
    </script>
</body>
</html>