<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>${c.analysis.name}</title>
</head>
<body>
    <div>
        <py:if test="added_successfully">
            <py:choose>
                <py:when test="added_successfully">
                    <div class="alert alert-success">
                        <b>Well done!</b> You have successfully published an Ecomap.
                    </div>
                </py:when>
                <py:otherwise>
                    <div class="alert alert-error">
                        <b>Oh snap!</b> Ecomap was not published correctly.
                    </div>
                </py:otherwise>
            </py:choose>
        </py:if>
    </div>

    <py:choose>
        <py:when test="c.analysis.complete">
            <div class="row">
                <div class="span11">
                    <h1>${c.analysis.name}</h1>
                </div>
            </div>

            <div>
                <h3> Analysis run by ${c.username} on ${c.analysis.run_date} </h3>
            </div>

            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#map" data-toggle="tab">Map Results</a></li>
                    <li><a href="#fitting" data-toggle="tab">Fitting Results</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="map">
                        <div class="row">
                            <div class="span11">
                                <div class="row">
                                    <div class="span5">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Result</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Geospatial Longitude Min
                                                    </td>
                                                    <td>${c.analysis.attributes['geospatial_lon_min']}</td>
                                                 </tr>
                                                <tr>
                                                    <td>
                                                        Geospatial Longitude Max
                                                    </td>
                                                    <td>${c.analysis.attributes['geospatial_lon_max']} </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Geospatial Latitude Min
                                                    </td>
                                                    <td>${c.analysis.attributes['geospatial_lat_min']}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Geospatial Latitude Max
                                                    </td>
                                                    <td>${c.analysis.attributes['geospatial_lat_max']} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span6 pull-right">
                                        <img class="img-polaroid" src="data:image/png;base64, ${c.analysis.result_image}" height="250px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="fitting">
                        <div class="row">
                            <div class="span11">
                                <div class="row">
                                    <div class="span5">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Result</th>
                                                <th>Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Goodness of fit
                                                </td>
                                                <td>${c.analysis.goodness_of_fit}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span6 pull-right">
                                        <img class="img-polaroid" src="data:image/png;base64, ${c.analysis.result_image}" height="250px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <input type="hidden" id="analysis_id" name="analysis_id" value='${c.analysis.id}' />

                <form class="inline_buttons" method="POST" action="${url(controller='analysis', action='publish', id=str(c.analysis.id))}">
                    <py:if test="c.analysis.viewable_by">
                        <input type="submit" class="btn btn-primary btn-large pull-right" value="Publish" />
                    </py:if>
                </form>

                <a href="${url(controller='analysis', action='rerun', id=str(c.analysis.id))}" class="btn btn-primary btn-large pull-right inline_buttons">Re-run Analysis</a>

                <a href="${url(controller='analysis', action='download', id=str(c.analysis.id))}" class="btn btn-primary btn-large pull-right inline_buttons">Download</a>
            </div>

        </py:when>
        <py:otherwise>
            <div class="hero-unit">
                <h1>Not done yet!</h1>

                <p>${c.analysis.name} is currently being processed, please come back later</p>

                <a href="${url(controller='analysis', action='test', id=str(c.analysis.id))}">View detailed progress</a>
            </div>
        </py:otherwise>
    </py:choose>

</body>
</html>