<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Configure Analysis</title>
</head>
<body>
    <h1>Configure Analysis Page</h1>

    <form method="POST">
        <p>Choose point data:

            <select name="point_dataset_id" id="point_dataset_id">
                <option py:for="dataset in c.point_datasets" value="${dataset.id}">
                    ${dataset.name}
                </option>
            </select>

        </p>

        <p>Choose coverage data:</p>

        <select multiple="true" id="coverage_dataset_ids" name="coverage_dataset_ids" >
            <option py:for="dataset in c.coverage_datasets" value="${dataset.id}">
                ${dataset.name}
            </option>
        </select>

        <p>Name of Analysis
            ${h.html_tags.text('analysis_name')}
        </p>

        <p>Parameter1
            ${h.html_tags.text('parameter1')}
        </p>

        <input type="submit" name="submit" value="Run" />

    </form>

</body>
</html>