<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="layout.html"/>
<head>
    <title>Create Analysis</title>
    <script type="text/javascript" src="/js/ecomaps_create_analysis.js"></script>
</head>
<body>

<div class="row">
    <div class="col-sm-12">
        <h1>Create Analysis</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" method="POST" action="${url(controller='analysis', action='create')}">

            <div class="form-group">
                <label for="analysis_name" class="control-label col-sm-2">Name of Analysis:</label>

                <div class="col-sm-9">
                        ${h.html_tags.text('analysis_name', class_='form-control')}
                </div>
            </div>

            <div class="form-group">

                <label for="model_id" class="control-label col-sm-2">Choose Model to Run:</label>

                <div class="col-sm-5">
                    <select id="model_id" name="model_id" class="form-control">
                        <option py:for="model in c.all_models" value="${model.id}"
                                py:attrs="{'selected':'True'} if defined('current_model_id') and model.id is current_model_id else {}">
                                ${model.name}
                        </option>
                    </select>
                </div>

                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       title="The model used to generate the analysis results."></i>
                </div>
            </div>

            <div class="form-group">
                <label for="coverage_dataset_ids" class="control-label col-sm-2">Choose coverage data:</label>

                <div class="col-sm-5">
                    <select multiple="true" id="coverage_dataset_ids" name="coverage_dataset_ids"
                            class="form-control multiselect">
                        <optgroup py:for="dataset in c.coverage_datasets" label="${dataset.name}">
                            <option py:for="column in dataset.column_names" value="${dataset.id}_${column}"
                                    py:attrs="{'selected':'True'} if defined('current_coverage_dataset_ids') and '%s_%s' % (dataset.id, column) in current_coverage_dataset_ids else {}">
                                    ${column}
                            </option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       title="A coverage dataset is used to define input data into the model. More than one can be selected"></i>
                </div>
            </div>

            <div id="time-point-container">

            </div>

            <div class="form-group">
                <label for="point_dataset_id" class="control-label col-sm-2">Choose point data:</label>

                <div class="col-sm-5">
                    <select name="point_dataset_id" id="point_dataset_id" class="form-control">
                        <option py:for="dataset in c.point_datasets" value="${dataset.id}"
                                py:attrs="{'selected':'True'} if defined('current_point_dataset_id') and dataset.id is current_point_dataset_id else {}">
                                ${dataset.name}
                        </option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       title="A point dataset is used to define the spatial grid in the model. Hit the Preview button to see a sample of the data."></i>

                    <a id="dataset-preview-open" href='#dataset-preview' data-toggle='modal' data-target="#dataset-preview" class="btn btn-primary btn-sm"
                       type="button">Preview</a>
                </div>
            </div>

            <div class="form-group">
                <label for="unit_of_time" class="control-label col-sm-2">Time Column:</label>

                <div class="col-sm-5">
                    <input type="hidden" id='unit_of_time_value' class="form-control"
                           py:attrs="{'value': unit_of_time} if defined('unit_of_time') else None"/>

                    <select id="unit_of_time" name="unit_of_time" class="form-control model-param"></select>
                </div>
                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       title="Unit of time used in the model."></i>
                </div>
            </div>

            <div class="form-group">
                <label for="Random Group" class="control-label col-sm-2">Grouping Column:</label>

                <div class="col-sm-5">
                    <input type="hidden" id='random_group_value' class="form-control"
                                             py:attrs="{'value': random_group} if defined('random_group') else None"/>

                    <select id="random_group" name="random_group" class="form-control model-param"></select>
                </div>

                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-signn" data-toggle="tooltip"
                       title="A parameter used to group data in the model."></i>
                </div>
            </div>

            <div class="form-group">
                <label for="Model Variable" class="control-label col-sm-2">Model Variable Column:</label>

                <div class="col-sm-5">
                    <input type="hidden" id='model_variable_value' class="form-control"
                                              py:attrs="{'value': model_variable} if defined('model_variable') else None"/>

                    <select id="model_variable" name="model_variable" class="form-control model-param"></select>
                </div>

                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                          title="The variable being modelled"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="Data Type" class="control-label col-sm-2">Data Type:</label>

                <div class="col-sm-5">
                    <select class="form-control" id="data_type" name="data_type">
                    <option py:attrs="{'selected': 'True'} if defined ('data_type') and data_type =='cont' else {}"
                            value="cont">Continuous
                    </option>
                    <option py:attrs="{'selected': 'True'} if defined ('data_type') and data_type =='count' else {}"
                            value="count">Count
                    </option>
                    <option py:attrs="{'selected': 'True'} if defined ('data_type') and data_type =='binary' else {}"
                            value="binary">Binary
                    </option>
                    </select>
                </div>

                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                                          title="Distribution type of the data."></i>
                </div>
            </div>

            <div class="form-group">
                <label for="Analysis Description" class="control-label col-sm-2">Description:</label>

                <div class="col-sm-9">
                    <textarea class="form-control" placeholder="Description"
                                                 id="analysis_description"
                                                 name="analysis_description"></textarea>
                </div>

                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       title="A short description of the analysis: What is being modelled? Why is it interesting? etc."></i>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Run"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="dataset-preview" tabindex="-1"
     role="dialog" aria-hidden="true"></div>

</body>
</html>