<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

<py:match path="head" once="true">
    <head py:attrs="select('@*')">
        <title py:with="title = list(select('title/text()'))">
            EcoMaps<py:if test="title"> | ${title}</py:if>
        </title>

        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />

        <script src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/js/ecomaps_general.js"></script>

        <!--Page-specific styles and script tags in here...-->
        ${select('style')}
        ${select('link')}
        ${select('script')}
    </head>
</py:match>

<py:match path="body" once="true">
    <body py:attrs="select('@*')">
        <div id="wrap">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="sso-brand" class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="https://lwis.ceh.ac.uk/">
                            <img src="/layout/images/cehlogo-reverse.png" alt="CEH Logo"></img>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav" id="nav">
                            <li>
                                <a href="https://lwis.ceh.ac.uk/">Home</a>
                            </li>
                            <li>
                                <a href="${h.url(controller='map')}">Explore</a>
                            </li>
                            <li>
                                <a href="${h.url(controller='analysis', action='create')}">New Analysis</a>
                            </li>
                            <li>
                                <a href="${h.url(controller='analysis')}">My Ecomaps</a>
                            </li>
                            <li>
                                <a href="https://lwis.ceh.ac.uk/ecomaps">About</a>
                            </li>
                        </ul>

                        <ul id="secondary-nav" class="nav navbar-nav navbar-right">
                            <div py:choose="" py:strip="True">
                            <li py:when="c.name != ''" id="sso-user" class="dropdown" data-dropdown="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                        ${c.name}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id="personaltool-menu">
                                    <py:if test="c.admin_user">
                                    <li>
                                        <a href="${h.url(controller='user')}">Users</a>
                                    </li>
                                    <li>
                                        <a href="${h.url(controller='dataset')}">Datasets</a>
                                    </li>
                                    </py:if>
                                    <li>
                                        <form class="navbar-form" action="${h.url(controller='account', action='logout')}" method="post">
                                            <input class="btn btn-sm btn-default" type="submit" value="Logout" />
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li py:otherwise="c.name == ''" id="sso-user">
                                <a href="${h.url(controller='account', action='login')}">Login</a>
                            </li>
                            </div>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container -->
            </div>
            <div class="container">
                <div id="server-offline" class="alert alert-danger hide"><strong>Map Server Offline:</strong> EcoMaps functionality will be reduced while the map server is offline.</div>
                ${select('*|text()')}
            </div>
            <div id="push"></div>
        </div>
        <script type="text/javascript" src="https://jira.ceh.ac.uk/s/d41d8cd98f00b204e9800998ecf8427e/en_UKfqje4i-1988229788/6264/37/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=434a3395"></script>
    </body>
</py:match>
</html>