<!DOCTYPE HTML>
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
    <title>ECOMAPS // Welcome</title>

    <!--?<link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />-->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <!--?<link rel="stylesheet" type="text/css" href="/layout/login.css"/>-->
</head>
<body>
    <div id="logo"></div>
    <div id="banner"></div>

    <div class="container">

        <div class="row well">
            <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">
                <div class="page-header">
                    <h3 class="text-center">Login to the ECOMAPS application</h3>
                </div>

                <py:if test="message">
                    <div class="alert alert-error">${message}</div>
                </py:if>

                <div id="login-form">

                    <py:if test="message">
                    <div class="alert alert-error">${message}</div>
                    </py:if>

                    <form class="form-horizontal" action="/account/dologin?came_from=${came_from}" method="POST">
                        <div class="form-group">
                            <label class="col-sm-2 col-lg-2 control-label" for="login">User Name</label>
                            <div class="col-sm-8 col-lg-8 controls">
                                ${h.html_tags.text('login', placeholder='User Name', class_='form-control')}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-lg-2 control-label" for="password">Password</label>
                            <div class="col-sm-8 col-lg-8 controls">
                                ${h.html_tags.password('password', placeholder='Password', class_='form-control')}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8 controls">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="JavaScript">

        $(function () {

            // Error span swap
            $("span.help-inline").each(function(index, el){

                // Find the parent control group
                // Swap the message with the input
                $(el).insertAfter($(el).next());

                $(el).closest("div.form-group").addClass("error");
            });
        })


    </script>
</body>
</html>