/* CSS styles for the login page */
html
{
    font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-size: 95%;
}

html {
  background: url(images/3750.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    height: 100%;
    margin: 0;
    min-width: 768px;
}

#logo
{
    height: 250px;
    background-image: url(images/ecomaps.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#banner
{
    background: #FFF;
    opacity: 0.3;
    position: absolute;
    top: 15px;
    height: 220px;
    width: 100%;
}

#content
{
    opacity: 0.8;
    margin: 1em  auto;
    width: 800px;
    min-width: 800px;
}

.content-title
{
    background: #FFF;
    color: #33717F;
    font-weight: bold;
    padding: 0.5em;
}

.content-body
{
    margin-left: 150px;
    background: #BDD1D6;
}

.error-message
{
    color: #FF471F;
    font-weight: bold;
    padding: 0.5em;
    border-left: solid 3px #FF471F;
}

span.error-message
{
    float: right;
}

.form form
{
    margin-bottom: 0;
}

.form ol
{
    list-style-type: none;
    margin: 0 auto;
    padding: 1em;
}

.form ol li
{
    padding: 0.5em;
}

.form ol li input
{
    border: none;
    padding: 0.5em;
    width: 300px;
}

label
{
    display: inline-block;
    width: 120px;
    text-align: right;
}

div.submit-container
{
    background: #33717F;
    padding: 1em;
    text-align: right;
}

div.submit-container input
{
    padding: 0.5em;
    border: solid 3px #FFF;
}

div.submit-container input:hover
{
    border: solid 3px #A6EF33;
    cursor: pointer;
    color: #33717F;
}

div#footer
{
    background: #FFF;
    text-align: left;
    padding: 1em;
    font-size: 80%;
}

div#footer div
{
    margin-bottom: 0.5em;
}



